///
// Variables
///

$calc-border: #000000;
$calc-btn-operator: #00ffd4;
$calc-btn-num: #efefef;
$calc-btn-hover: #01bc9d;
$calc-btn-click: #00846e;
$calc-display-textcolor: #ffffff;
$calc-display-bg: #000000;


.calc {
  display: flex;
  width: 464px;
  height: 640px;
  flex-direction: column;
  border-radius: 15px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__display {
    height: 20%;
    color: $calc-display-textcolor;
    background: $calc-display-bg;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden; 
  }
  &__btn-container {
    height: 80%;
  }
  &__row {
    display: flex;
    flex-direction: row;
    height: 20%;
  }
  &__btn {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid $calc-border;
    width: 25%;
    background: $calc-btn-num;
    &--double {
      width: 50%;
    }
    &--operator {
      background: $calc-btn-operator;
    }
    &:hover {
      background: $calc-btn-hover;
    }
    &:active {
      background: $calc-btn-click;
    }
  }
}

#btn-equal {
  border-radius: 0 0 15px 0;
}
#btn-zero {
  border-radius: 0 0 0 15px;
}